@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(245, 247, 248);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.container-about {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-column-gap: 50px;
}
.container-miniservises {
  max-width: 1200px;
  width: calc(100% - 30px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.container-partner {
  max-width: 1200px;
  width: calc(100% - 30px);
  margin: 0 auto;
  background: white;
  height: 250px;
  padding: 60px 75px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(https://i.postimg.cc/SKgqqmZv/header.png);
  background-position: center center;
  background-size: cover;
  padding-bottom: 50px;
}
.header-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.header-navbar_items {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.header-about {
  justify-content: start;
  color: #FFF;
}
.header-about_title {
  margin-top: 120px;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}
.header-about_plase {
  margin-top: 15px;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.header-about_work {
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.header-about_subtitle {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  width: 500px;
}
.header-servises {
  border-radius: 0px 4px 4px 0px;
  background: #62C5FF;
  height: 230px;
  margin-top: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.header-servises_items {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 2px solid white;
  transition: 0.8s height;
}
.header-servises_items:nth-child(4) {
  border-right: 0px;
}
.header-servises_items-icon img {
  width: 115px;
  margin-left: -15px;
}
.header-servises_items-text {
  width: 180px;
  color: #C0E7FF;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.header-servises_items:hover {
  border-radius: 0px 15px 15px 0;
  background: #00A2FF;
  height: 120%;
  justify-content: center;
  border-right: 0px;
  transition: 0.4s all;
}
.header-servises_items:hover .header-servises_items-text {
  border-left: 5px solid white;
  padding-left: 20px;
  color: white;
}
.header-servises_items:hover .header-servises_items-icon img {
  width: 190px;
}
.header-godown {
  margin-top: 50px;
}

.about {
  width: 100%;
  padding: 50px 0 50px 0;
}
.about-info {
  background-color: #fff;
  padding: 40PX 40px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-info_box {
  display: flex;
  gap: 10px;
}
.about-info_box-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-info_cont-box {
  display: flex;
}
.about-info_text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.about-info_text-title {
  color: #2A3236;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.about-info_text-subtitle {
  width: 300px;
  color: #A4ACB1;
  font-weight: 400;
  line-height: 140%;
}
.about-link {
  color: #007BC2;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
}
.about-line {
  width: 75px;
  height: 8px;
  flex-shrink: 0;
  background: rgb(0, 123, 194);
}
.about-miniservises {
  width: 100%;
  background: #fff;
  margin-top: 110px;
  padding: 20px 0;
}
.about-miniservises_box {
  position: relative;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background-size: cover;
  min-height: 170px;
}
.about-miniservises_box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 50, 54, 0.8);
  z-index: 9;
}
.about-miniservises_box-title {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  z-index: 10;
}
.about-miniservises_box-subtitle {
  color: #A4ACB1;
  font-weight: 400;
  line-height: 140%;
  margin-top: 10px;
  z-index: 10;
}
.about-partner {
  margin-top: 65px;
}
.about-partner_title {
  color: #32373A;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.about-partner_subtitle {
  margin-top: 10px;
  color: #32373A;
  font-weight: 400;
  line-height: 140%;
}
.about-partner_partner-box {
  display: flex;
  margin-top: 40px;
  gap: 60px;
  justify-content: space-around;
}
.about-partner_partner-box_icon img {
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.2s;
}
.about-partner_partner-box_icon img:hover {
  filter: grayscale(0%);
  transition: filter 0.2s;
}

.box-text_title {
  color: #2A3236;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.box-text_subtitle {
  color: #A4ACB1;
  font-weight: 400;
  line-height: 140%;
}/*# sourceMappingURL=style.css.map */