@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(245, 247, 248, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: calc(100% - 30px);
    margin: 0 auto;

    &-about {
        display: grid;
        grid-template-columns: 1.3fr 2fr;
        grid-column-gap: 50px;
    }

    &-miniservises {
        max-width: 1200px;
        width: calc(100% - 30px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url(https://i.postimg.cc/SKgqqmZv/header.png);
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;

    &-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px;

        &_items {
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
        }
    }

    &-about {
        justify-content: start;
        color: #FFF;

        &_title {
            margin-top: 120px;
            font-size: 64px;
            font-weight: 700;
            letter-spacing: 6.4px;
            text-transform: uppercase;
        }

        &_plase {
            margin-top: 15px;
            font-weight: 400;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }

        &_work {
            margin-top: 30px;
            font-weight: 700;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }

        &_subtitle {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            width: 500px;
        }

    }

    &-servises {
        border-radius: 0px 4px 4px 0px;
        background: #62C5FF;
        height: 230px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_items {
            width: 25%;
            padding: 0 30px 0 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-right: 2px solid white;
            transition: 0.8s height;


            &:nth-child(4) {
                border-right: 0px;
            }

            &-icon {
                img {
                    width: 115px;
                    margin-left: -15px;
                }
            }

            &-text {
                width: 180px;
                color: #C0E7FF;
                font-size: 14px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            &:hover {
                border-radius: 0px 15px 15px 0;
                background: #00A2FF;
                height: 120%;
                justify-content: center;
                border-right: 0px;
                transition: 0.4s all;

                .header-servises_items-text {
                    border-left: 5px solid white;
                    padding-left: 20px;
                    color: white;
                }

                .header-servises_items-icon {
                    img {
                        width: 190px;
                    }
                }
            }


        }

    }

    &-godown {
        margin-top: 50px;
    }
}

.about {
    width: 100%;
    padding: 50px 0 150px 0;

    &-info {
        background-color: #fff;
        padding: 40PX 40px 0px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_box {
            display: flex;
            gap: 10px;

            &-text {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }


        &_cont {
            &-box {
                display: flex;
            }
        }

        &_text {
            &-box {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-left: 20px;
            }

            &-title {
                color: #2A3236;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            &-subtitle {
                width: 300px;
                color: #A4ACB1;
                font-weight: 400;
                line-height: 140%;
            }
        }

    }

    &-link {
        color: #007BC2;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &-line {
        width: 75px;
        height: 8px;
        flex-shrink: 0;
        background: rgba(0, 123, 194, 1);
    }

    &-miniservises {
        width: 100%;
        background: #fff;
        margin-top: 110px;

        &_box {
            position: relative;
            width: calc(100% / 3 - 15px);
            background: black;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 40px;
            background-size: cover;

            &-overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(42, 50, 54, 0.8);
                z-index: 9;
            }

            &-title {
                color: #FFF;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                z-index: 10;
            }

            &-subtitle {
                color: #A4ACB1;
                font-weight: 400;
                line-height: 140%;
                margin-top: 10px;
                z-index: 10;
            }
        }
    }


}

.box {
    &-text {
        &_title {
            color: #2A3236;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }

        &_subtitle {
            color: #A4ACB1;
            font-weight: 400;
            line-height: 140%;
        }
    }
}