@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    position: relative;
    z-index: 90;
    outline: 0px solid rebeccapurple;
}

.container {
    width: 1400px;
    padding: 0 20px;
    margin: 0 auto;

    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1400px;
        padding: 0 20px;
        margin: 0 auto;
    }
}


@import 'header';


.megamenu {
    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.6s ease;
    padding: 0 60px;

    .container {
        width: 100%;
    }

    &-header {
        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: #32373A;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase;

        div {
            align-items: center;
        }

        div:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: end;
            color: #2B2B2B;

            img {
                padding-right: 20px;
            }
        }

        &_phone {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: #2A3236;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1.4px;
            text-transform: uppercase;

            div {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            span {
                color: #A4ACB1;
                font-weight: 400;
                line-height: 200%;
            }
        }

    }

    &-navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;

        &_l{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &_c{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &_r{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &_items {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            div:nth-child(1){
                margin: 0;
            }

            &-title {
                color: #2A3236;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            &-img{
                width: 100%;
                background-size: cover;
            }

            &-subtitle {
                ul{
                    display: flex;
    flex-direction: column;
    gap: 5px;
                }
                
                
                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #A4ACB1;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 200%;
                    }
                }
            }
        }
    }

}