    #slider {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-image: var(--gradient-primary);
        flex-direction: column;
        padding: 20px 0 40px 0;

        h1 {
            font-size: 56px;
            text-align: center;
            color: var(--color-bg-secondary);
            text-shadow: 5px 5px var(--color-text-secondary);
            margin: 10px;
            width: 50vw;
        }

    }

    .slider__container {
        transform: translateX(0px);
        transition: .3s;
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    .slider__wrapper {
        position: relative;
        width: 80vw;
        aspect-ratio: 16/9;
        background-color: var(--color-bg-secondary);
        border: 5px solid var(--color-bg-secondary);
        box-shadow: var(--shadow-lg);
        border-radius: var(--radius-md);
        overflow: hidden;
        display: flex;

    }

    .slide {
        width: 100%;
        flex-shrink: 0;
    }

    .slide__img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .slide img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .slider__pagination {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .slider__circle {
        background: var(--color-bg-secondary);
        padding: 7px 10px;
        border-radius: var(--radius-full);
        border: 2px solid var(--color-bg-secondary);
        transition: .2s;
        opacity: 0.5;

        &.active {
            opacity: 1;
            transition: .2s;
            border: 2px solid var(--color-bg-secondary);
            background-image: linear-gradient(135deg, var(--color-accent-1), var(--color-accent-2));
        }

        &:hover {
            opacity: 1;
            transition: .2s;
            border: 2px solid var(--color-bg-secondary);
            background-image: linear-gradient(135deg, var(--color-accent-1), var(--color-accent-2));
        }
    }

    .slider__left,
    .slider__rigth {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
        height: 100%;
        font-size: clamp(1.25rem, calc(0.903rem + 1.852vw), 3.13rem);
        color: #fff;
        opacity: 0.4;
        transition: .2s;
        cursor: pointer;
        z-index: 10;



        &:hover {
            opacity: 1;
            background-color: #ffffff50;
            transition: .2s;
        }
    }

    .slider__rigth {
        right: 0;
    }

    @media (width < 1000px) {
        h1 {
            display: none;
        }

        #slider {
            justify-content: center;
            gap: 30px;
        }

    }