.tab {
    margin-top: 40px;
    position: sticky;
    top: 0;
    z-index: 50;
    .container {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
    }
}