@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/*color*/
* {
  box-sizing: border-box;
  z-index: 2;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background: rgb(242, 242, 243);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.btn {
  background-color: rgb(255, 112, 32);
  color: rgb(249, 249, 249);
  width: 100%;
  display: flex;
  padding: 11px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.btn:hover {
  background: #FFAB08;
}
.btn:active {
  background: #F86310;
}
.btn:disabled {
  background: #F9F9F9;
  color: rgb(172, 172, 172);
}

.card-btn {
  background-color: rgb(242, 242, 243);
  color: rgb(0, 0, 0);
  display: flex;
  padding: 11px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 0px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.card-btn:hover {
  background: rgb(255, 171, 8);
  color: rgb(249, 249, 249);
}
.card-btn:active {
  background: rgb(255, 112, 32);
  color: rgb(249, 249, 249);
}
.card-btn:disabled {
  background: #F9F9F9;
  color: rgb(172, 172, 172);
}

.tab-btn {
  display: inline-flex;
  padding: 8px 14px;
  align-items: center;
  gap: 8px;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50px;
  background: rgb(249, 249, 249);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
}
.tab-btn img {
  width: 25px;
}
.tab-btn:hover {
  border: 1px solid #F86310;
}
.tab-btn:active {
  background: rgb(255, 171, 8);
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  border-radius: 18px;
  background: rgb(249, 249, 249);
}
.card-img {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
.card-img img {
  width: 100%;
}
.card-prise {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 16px;
}
.card-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 8px;
}
.card-weight {
  color: #B1B1B1;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  margin-top: 30px;
}
.card-btn {
  margin-top: 20px;
  width: 100%;
}

.container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.white {
  color: rgb(249, 249, 249);
}

.orange {
  color: rgb(255, 112, 32);
}

.header {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
}
.header-circle {
  position: absolute;
  left: -50%;
  bottom: 1%;
  transform: translateX(15%);
  width: 2880px;
  height: 2880px;
  border-radius: 50%;
  background-color: rgb(255, 171, 8);
  z-index: 1;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.header-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}
.header-main_text {
  width: 500px;
}
.header-main_text-title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 800;
  line-height: 120%;
}
.header-main_text-subtitle {
  margin-top: 50px;
  color: rgb(249, 249, 249);
  font-weight: 400;
}

.tab {
  margin-top: 40px;
  position: sticky;
  top: 0;
  z-index: 50;
}
.tab .container {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.shop .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 30px;
  margin-top: 120px;
}
.shop_title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}
.shop-cart {
  border-radius: 18px;
  background: rgb(249, 249, 249);
  padding: 24px 16px;
  position: sticky;
  top: 50px;
}
.shop-cart_position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.shop-cart_title {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.shop-cart_title .lot {
  border-radius: 6px;
  background: #F2F2F3;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 20px;
}
.shop-cart_result {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}
.shop-cart_btn {
  margin-top: 24px;
}
.shop-cart_dilivery {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.shop-cart_dilivery img {
  width: 24px;
  height: 24px;
}
.shop-col_r {
  position: relative;
  width: 100%;
  margin-top: -50px;
}
.shop-col_cat {
  position: sticky;
  margin-bottom: 50px;
}
.shop-col_cat-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}
.shop-col_cat-allcard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.position {
  padding: 16px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  max-height: 700px;
  overflow-y: scroll;
}
.position::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
.position::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #EBEBEB;
}
.position::-webkit-scrollbar-track:hover {
  background-color: #FF7020;
}
.position::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}
.position::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FF7020;
}
.position::-webkit-scrollbar-thumb:hover {
  background-color: #FF7020;
}
.position::-webkit-scrollbar-thumb:active {
  background-color: #ff7020;
}
.position-img {
  width: 64px;
  height: 52px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.position-dicription {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 6px;
  justify-content: space-between;
  width: 70%;
}
.position-dicription_name {
  font-size: 16px;
  font-weight: 400;
}
.position-dicription_weight {
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 400;
}
.position-dicription_prise {
  font-size: 16px;
  font-weight: 400;
}
.position-lot {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: #F2F2F3;
  width: 90px;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
}
.position-lot_minus, .position-lot_count, .position-lot_plus {
  font-size: 16px;
  font-weight: 400;
}
.position-lot_count {
  font-weight: 800;
}
.position-lot_minus, .position-lot_plus {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */