@import url("block/card.css");
@import url("block/changeTheme.css");
@import url("block/sidebar.css");
@import url("block/header.css");
@import url("block/banner.css");
@import url("block/themeLight.css");
@import url("block/themeDark.css");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

:root {
  /* Типографика (Шрифты, Размеры, Жирность) */
  --f-family: "Inter", system-ui, -apple-system, sans-serif;

  --f-size-h1: 40px;
  --f-size-h2: 24px;
  --f-size-h3: 18px;
  --f-size-body: 16px;
  --f-size-small: 14px;
  --f-size-caption: 12px;

  --f-weight-normal: 400;
  --f-weight-semibold: 600;
  --f-weight-bold: 700;

  --header-height: 72px;
  --banner-height: 280px;
  --sidebar-width: 260px;
  --container-max-width: 1200px;
  --modal-max-width: 640px;

  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;

  --radius-small: 4px;
  --radius-medium: 6px;
  --radius-large: 8px;
  --radius-modal: 12px;

  /* Анимации */
  --transition-fast: 0.2s ease;
}






body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: var(--f-family);
  font-size: var(--f-size-body);
  font-weight: var(--f-weight-normal);
  line-height: 1.5;
  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);
  margin: 0;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--space-16);
}

.main__container {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  align-items: start;
}


.book__nav{
  display: flex;
  justify-content: space-between;
}


