.container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

.btn {
    @include font_bold-20;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 30px;
    color: $color-white;
    background-color: $color-phiol;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #643FFF;
    }
}

.header {
    width: 100%;
    margin-top: 20px;



    &-navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        nav {


            ul {
                display: flex;
                gap: 20px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $color-black;

                        &:hover {
                            color: rgba(109, 74, 255, 1);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_phone {
            color: $color-black;
            @include font_bold-20;
            justify-content: center;
        }

    }
}

.hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    padding-bottom: 120px;

    .container {
        flex-direction: column;
    }


    &-overlay {
        position: absolute;
        background-color: $color-black;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 2;
    }

    &-title {
        margin-top: 75px;
        display: flex;
        gap: 20px;
        z-index: 5;
        align-items: center;

        &_big {
            color: $color-white;
            @include font_bold-128;
            line-height: 120.187%;
            /* 153.84px */
        }

        &_litle {
            color: $color-white;
            @include font_bold-48;

        }
    }

    &-subtitle {
        margin-top: 20px;
        z-index: 5;
        color: $color-white;
        @include font_regular-24
    }

    &-poster {

        z-index: 5;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;

        &_openvideo {
            display: inline-flex;
            align-items: center;
            @include font_light-14;
            gap: 20px;
            color: $color-white;

            &:hover {
                svg {
                    fill: #5E42D3;
                    transition: fill 1s ease;
                }
            }

        }

        &_date {
            margin-top: 60px;
            color: $color-white;
            @include font_bold-48;
        }

        &_plase {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            color: $color-white;
            @include font_regular-14;
        }

        &_coloum {


            &-r {
                width: 50%;
                display: flex;
                gap: 15px;
                justify-content: space-between;
            }

        }

        &_container-images {
            width: calc(100% / 3);
        }
    }

    .container-images {
        position: relative;

        &_img {
            width: 100%;
            height: 150px;
            overflow: hidden;

            img {
                width: 100%;
                transform: translateY(-40px);
                filter: grayscale(100%);
                transition: filter 0.5s ease-in-out;

                &:hover {
                    filter: grayscale(0%);
                    transition: filter 0.5s ease-in-out;
                }
            }


        }

        &_number {
            position: absolute;
            right: 0;
            bottom: 40px;
            color: $color-white;
            @include font_bold-64;
        }

        &_title {
            margin-top: 20px;
            color: $color-white;
            @include font_bold-14;
        }
    }

}