@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: #FDFDFD;

}


/*font*/
@import "font";


/*color*/

$color-green:rgba(0, 197, 138, 1);
$color-cyan: rgba(0, 128, 145, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-phiol:rgba(100, 63, 255, 1);

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


section {
    color: #000;
    padding: 50px 0 60px 0;


    .title {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }

    .subtitle {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 131.687%;
        margin-top: 20px;

    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin: 0 auto;
    }
}

@import "hero";
@import "photogallery";
@import "programs";
@import "sponsor";
@import "ticket";
@import "description";
@import "footer";


.white {
    color: $color-white;
}










