@use "var";

.gallery {
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 24px;
        margin: 30px 0;
    }

    button {
        min-height: 15vh;
        border: 5px dashed black;
        border-radius: 15px;
        background-position: center;
        background-size: cover;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.my-modal {
    position: fixed;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    height: 90%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/4;
    }


}

.my-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 9px;
    position: absolute;
    border: 1px solid black !important;
    top: 5%;
    right: 3%;
    font-size: 20px;
    min-height: auto !important;
}

.download {
    position: absolute;
    bottom: 5%;
    right: 3%;
    a{
        font-size: 20px;
        color: var.$color-white;
    }
}
.images{
    width: 100%;
}