// --- Основные фоны (Backgrounds) ---
$bg-main: rgb(243, 234, 219);
$bg-header: rgb(114, 109, 158);
$bg-section-alt: rgb(242, 203, 214);
$bg-footer: rgb(27, 31, 51);

// --- Цвета шрифтов (Typography) ---
$text-primary: rgb(27, 31, 51);
$text-secondary: #575b70;
$text-accent: rgb(188, 51, 71);
$color-white: rgb(255, 255, 255);

// --- Интерактивные элементы (Кнопки, ссылки, инпуты) ---
$btn-primary-bg: #bc3347;
$btn-primary-hover: #a62a3c;

$btn-secondary-bg: rgb(114, 109, 158);
$btn-secondary-hover: rgb(93, 89, 136);

// --- Границы и рамки (Borders & Inputs) ---
$border-color: #d1cddf;
$input-bg: #faf8f5;

// --- Тени (Shadows) ---
$shadow-color: rgba(27, 31, 51, 0.25);

* {
    box-sizing: border-box;
    outline: 0px solid red;
}

html {
    scroll-behavior: smooth;
}


body,
h1,
h2,
h3,
h4,
ul,
li,
a,
input,
p,
blockquote {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    min-height: 10vh;

    &.violet {
        background: transparent;

        .section__name {
            color: $color-white
        }

        .section__center {
            background: $bg-header;
        }

        .section__top {
            border-radius: 50% 50% 0 0;
            width: 100%;
            height: 150px;
            background: rgb(114, 109, 158);
        }

        .section__center {
            min-height: 50vh;
        }

        .section__bottom {
            border-radius: 0 0 50% 50%;
            width: 100%;
            height: 150px;
            background: rgb(114, 109, 158);

        }
    }

    .section__name {
        color: $bg-header;
    }

    .container {

        p {
            font-family: "Roboto Condensed", sans-serif;
            margin: 10px 0;
            border: 5px dashed #d1cddf;
            border-radius: 20px;
            padding: 25px;
            background: rgba($color: $bg-section-alt, $alpha: 0.2);
            font-size: 22px;

        }

    }

}

.section {
    &__name {
        text-align: center;
        font-size: clamp(2.50rem, calc(1.773rem + 3.636vw), 4.50rem);
        font-family: "Neucha", cursive;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.accent {
    color: $text-accent;
}

.character {
    font-size: 32px;
    color: rgba(87, 75, 144, 1.0);
}

audio {
    width: 80%;
    margin: 20px auto;
    border-radius: 0px;
}