:root {
  --bg-main: rgba(243, 234, 219, 1);
  --bg-header: rgba(114, 109, 158, 1);
  --bg-section-alt: rgba(242, 203, 214, 1);
  --bg-footer: rgba(27, 31, 51, 1);
  --text-primary: rgba(27, 31, 51, 1);
  --text-secondary: rgba(87, 91, 112, 1);
  --text-accent: rgba(188, 51, 71, 1);
  --color-white: rgba(255, 255, 255, 1);
  --btn-primary-bg: rgba(188, 51, 71, 1);
  --btn-primary-hover: rgba(166, 42, 60, 1);
  --btn-secondary-bg: rgba(114, 109, 158, 1);
  --btn-secondary-hover: rgba(93, 89, 136, 1);
  --border-color: rgba(209, 205, 223, 1);
  --input-bg: rgba(250, 248, 245, 1);
  --shadow-color: rgba(27, 31, 51, 0.25);
  --max-wigth: 1440px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

section.violet {

  .section__bottom,
  .section__top,
  .section__center {
    background-color: var(--bg-header);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-wigth);
  margin: 0 auto;
  padding: 0 30px;
}

@layer deskopt;

@layer deskopt {
  section {
    padding-top: 100px;
    background: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    content-visibility: auto;
  }

  .section__top,
  .section__bottom {
    height: 5vh;
  }

  .section__top {
    border-radius: 50% 50% 0 0;
  }


  .section__bottom {
    border-radius: 0% 0% 50% 50%;
  }

  .open__menu {
    display: none;
  }

  .hero {
    height: 100dvh;
    background-image: url(../images/hero_bg.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: showBg 1.5s ease-in;
    position: relative;

    h1 {
      width: 0;
      opacity: 0;
      font-family: "Neucha", cursive;
      font-size: 120px;
      animation: showBgText 2s ease-in-out 4s forwards;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(150%);
      text-shadow:
        -4px -4px 0 var(--color-white),
        4px -4px 0 var(--color-white),
        -4px 4px 0 var(--color-white),
        4px 4px 0 var(--color-white);
    }
  }

  .header {
    position: fixed;
    width: 90%;
    max-width: var(--max-wigth);
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
    display: flex;
    background-color: var(--bg-header);
    border-radius: 0 0 25px 25px;
    border: 5px solid var(--color-white);
    border-top: 0px;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;


      li {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid var(--bg-header);
        transition: 0.2s;
        position: relative;

        a {
          display: flex;
          padding: 20px 25px;
          color: var(--color-white);
          font-size: 1.1em;
        }

        &:hover {
          border-bottom: 5px solid var(--border-color);
          transition: 0.2s;
        }
      }
    }
  }

  .open__dropdown:hover {
    .dropdown {
      top: 50px;
      transition: .2s;
    }
  }

  .dropdown {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: -100vh;
    background: var(--bg-header);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    ul {
      display: flex;
      flex-direction: column;

      li {
        padding: 10px 0;
        color: var(--color-white);
        font-size: 1.2em;
        padding: 0 !important;

        a {
          border: 0;
        }
      }
    }
  }


  .about {
    position: relative;
    z-index: 2;
    margin-top: -140px;

    .section__center {
      p {
        font-size: 1.5em;
        border: 5px dashed var(--border-color);
        border-radius: 50px;
        padding: 25px;
        animation: showPar linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
        contain-intrinsic-size: auto 150px
      }
    }
  }

  .chara__card {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-top: -80px;
    --trans: 150%;
    left: var(--trans);
    animation: showCard;
    animation-timeline: view();
    animation-range: 0 20%;
    animation-fill-mode: forwards;
    position: relative;
    scroll-margin-top: 120px;
  }

  /* Переопределяем переменную для четных карточек */
  .chara__card:nth-child(even) {
    right: var(--trans);
    animation: showCard;
    animation-timeline: view();
    animation-range: 0 20%;
    animation-fill-mode: forwards;

    .chara__img {
      order: 2;
      display: flex;
      justify-content: space-evenly;
      z-index: 5;
    }

    .chara__header {
      justify-content: flex-end;
    }
  }

  .chara__card:nth-child(even) .chara__header {
    justify-content: flex-end;
  }

  .chara__card:last-child {
    margin-top: 0;
  }


  .chara__img {
    position: relative;
    min-width: 15%;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
  }

  .chara__card-body {
    border-radius: 15px;
    border: 5px dashed var(--bg-header);
    padding: 25px;
    z-index: 2;
    position: relative;
  }

  .chara__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 15px 0;

    .character {
      font-size: 32px;
    }
  }

  .chara__text {
    line-height: 50px;
    letter-spacing: 5%;
  }

  .card-tomoya {
    margin-top: 60px;
  }


  #tomoya,
  #nagisa {
    .chara__card-body {
      border: 5px dashed var(--text-accent);
    }

  }

  @property --trans {
  syntax: '<length-percentage>'; 
  inherits: true;
  initial-value: 0%;
}


  @keyframes showBg {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes showBgText {
    0% {
      opacity: 0;
      width: 0%;
    }

    100% {
      opacity: 1;
      width: 100%;
    }
  }

  @keyframes showPar {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes showCard {
    0% {
      --trans: 150%;
    }

    100% {
      --trans: 0%;
    }

  }

}