@font-face {
    font-family: "main";

    src: url("../font/Akbar_Cyrillic.ttf");
}

::placeholder {
    color: #f5d8b0;
    font-size: 30pt;
}

a {
    text-decoration: none;
}
section {
    padding: 60px 0;
}
body {
    background-color: #f9dcb4;
    font-family: "main";
    font-size: 20px;
    width: 100%;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: url(https://s.iimg.su/s/11/lSJYttgzPLMYmECpbgE5HNIEL5uBTFGkmWgnloWq.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5ead4;
    &-overlay {
        position: absolute;
        width: 100%;
        height: 1040px;
        top: 0;
        left: 0;
        background-color: rgba($color: #be7e4e, $alpha: 0.25);
    }
    &-title {
        font-size: 150px;
    }
    &-subtitle {
        font-size: 48pt;
    }
}
nav {
    width: 100%;
    height: 100px;
    background-color: #be7e4e;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}
.navbar {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
        a {
            text-decoration: none;
            color: #f5ead4;
            transition: all 0.2s;
            &:hover {
                color: #793d21;
                transition: all 0.2s;
            }
        }
    }
}
.section {
    &-title {
        font-size: 48px;
        color: #4b1b0d;
        text-align: center;
        padding-bottom: 40px;
    }
    &-subtitle {
        font-size: 20pt;
        color: #853d0b;
        text-align: center;
    }
}
.about {
    &-history {
        color: #4b1b0d;
        font-size: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }
}
.colored {
    &-top {
        border-radius: 50% 50% 0% 0%;
        height: 50px;
        background-color: #eac49a;
    }
    &-center {
        background-color: #eac49a;
    }
    &-bottom {
        border-radius: 0% 0% 50% 50%;
        height: 50px;
        background-color: #eac49a;
    }
}
.menu {
    &-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;

        &_item {
            font-size: 30px;
            background-color: #f9dcb4;
            color: #4b1b0d;
            border-radius: 15px;
            padding: 10px 30px;
            transition: background-color 0.5s;
            transition: color 0.5s;
            cursor: pointer;
            &:hover {
                background-color: #4b1b0d;
                color: #f9dcb4;
                transition: background-color 0.5s;
                transition: color 0.5s;
            }
            &--active {
                background-color: #4b1b0d;
                color: #f9dcb4;
            }
        }
    }

    &-card {
        &_box {
            padding-top: 60px;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
        &_card {
            padding: 10px;
            background-color: #f9dcb4;
            border-radius: 15px;
        }
    }
}
.card {
    &-photo {
        width: 100%;
        height: 250px;
        background-size: cover;
        border-radius: 15px;
    }
    &-title {
        font-size: 24pt;
        min-height: 80px;
        margin-top: 10px;
        color: #4b1b0d;
    }
    &-subtitle {
        font-size: 16pt;
        min-height: 150px;
        margin-top: 10px;
        color: #4b1b0d;
    }
    &-botton {
        font-size: 18pt;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #4b1b0d;
    }
}
.sale {
    &-card {
        &_photo {
            width: 100%;
            height: 200px;
            background-size: cover;
        }
        &_title {
            font-size: 24pt;
            margin-top: 10px;
            color: #4b1b0d;
        }
        &_subtitle {
            font-size: 16pt;
            margin-top: 10px;
            color: #4b1b0d;
        }

        &_card {
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.37);
        }

        &_box {
            padding-top: 60px;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
    }
}
.reserved {
    &-form {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        &_l {
            display: flex;
            flex-direction: column;
            > input {
                font-size: 36px;
                height: 60px;
                margin: 20px;
                color: #f5d8b0;
                background-color: #853d0b;
                border: 0;
                border-radius: 15px;
                padding-left: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
                &:hover {
                    border: 0;
                }
            }
        }
        &_r {
            > textarea {
                font-size: 36px;
                width: 100%;
                height: calc(100% - 80px);
                margin: 20px;
                color: #f5d8b0;
                background-color: #853d0b;
                border: 0;
                border-radius: 15px;
                padding-left: 40px;
                padding-top: 40px;
            }
        }
        &-btn {
            border-radius: 15px;
            background-color: #853d0b;
            color: #f9dcb4;
            align-items: center;
            font-size: 36px;
            border: 0;
            padding: 15px 100px;
            margin-top: 40px;
            &:hover {
                background-color: #f9dcb4;
                color: #853d0b;
            }
        }
    }
}
.reviews {
    &-box {
        width: 90%;
        height: 850px;
        overflow-y: scroll;
        margin: 0 auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &-people {
        margin-top: 60px;
        width: 70%;
        height: 350px;
        margin: 0 auto;
        box-shadow: 0px 0px 38px -15px rgba(34, 60, 80, 0.2) inset;
        &_title {
            margin-top: 60px;
            padding-top: 20px;
            text-align: center;
            font-size: 36px;
            color: #4b1b0d;
        }
        &_col {
            display: flex;
        }
    }
}
.people {
    &-photo {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-size: cover;
        margin-left: 20px;
    }
    &-reviews {
        font-size: 20pt;
        margin-top: 40px;
        padding-left: 50px;
        margin-right: 20px;
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.div1 {
    grid-column: span 2 / span 2;
    height: 300px;
    background-size: cover;
}

.div3 {
    grid-column-start: 3;
    background-size: cover;
}

.div4 {
    grid-column-start: 4;
    background-size: cover;
}

.div5 {
    grid-row-start: 2;
    background-size: cover;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    background-size: cover;
}

.div7 {
    grid-column-start: 4;
    grid-row-start: 2;
    background-size: cover;
}

.div8 {
    grid-row-start: 3;
    background-size: cover;
}

.div9 {
    grid-row-start: 3;
    background-size: cover;
}

.div10 {
    grid-row-start: 3;
    background-size: cover;
}

.div11 {
    grid-row-start: 3;
    background-size: cover;
}
