@layer reset, base, var, comp, other;
@import "block/comp.css";
@import "block/hero.css";
@import "block/location.css";
@import "block/featured.css";

@layer reset, base, var, comp, other;


body {
    --color-primary-600: oklch(41.059% 0.01865 136.296);
    --color-primary-500: oklch(48.115% 0.03124 133.327);
    --color-primary-400: oklch(67.152% 0.02267 134.293);
    --color-primary-300: oklch(79.964% 0.02293 132.729);
    --color-primary-200: oklch(85.216% 0.01674 134.066);
    --color-neutral-000: oklch(100% 0.00011 271.152);
    --color-neutral-100: oklch(98.511% 0.00011 271.152);
    --color-neutral-200: oklch(88.531% 0.0001 271.152);
    --color-neutral-300: oklch(64.341% 0.00007 271.152);
    --color-neutral-400: oklch(37.909% 0.00004 271.152);

    --text-headline: "Boska-Bold", fantasy;
    --text-paragraf: "Switzer-Regular", sans-serif;
}


/* body.dark {

} */



body {
    background: var(--color-neutral-000);
    font-family: var(--text-paragraf);
    font-weight: 400;
}

@layer reset {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100dvh;
    }

    ul,
    p,
    h1,
    h2,
    h3,
    h4 {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}

@layer var {


    .h1 {
        font-family: var(--text-headline);
        font-size: clamp(2.25rem, 1.58rem + 2.96vw, 3.5rem);
        line-height: clamp(2.75rem, 2.08rem + 2.96vw, 4rem);
        letter-spacing: -0.02em;
    }

    .h2 {
        font-family: var(--text-headline);
        font-size: clamp(1.625rem, 1.425rem + 0.89vw, 2rem);
        line-height: clamp(2.125rem, 1.925rem + 0.89vw, 2.5rem);
        letter-spacing: -0.02em;
    }

    .h3 {
        font-family: var(--text-headline);
        font-size: clamp(1.25rem, 1.115rem + 0.59vw, 1.5rem);
        line-height: clamp(1.75rem, 1.615rem + 0.59vw, 2rem);
        letter-spacing: -0.02em;
    }

    .h4 {
        font-family: var(--text-paragraf);
        font-size: clamp(1.125rem, 1.06rem + 0.3vw, 1.25rem);
        line-height: clamp(1.625rem, 1.56rem + 0.3vw, 1.75rem);
        font-weight: 600;
    }

    .p1 {
        font-size: clamp(0.938rem, 0.917rem + 0.09vw, 1rem);
    }

    .p1-reg {
        font-weight: 400;
    }

    .p1-med {
        font-weight: 500;
    }

    .p1-semi {
        font-weight: 600;
    }

    .p2 {
        font-size: 0.875rem;
    }

    .p2-reg {
        font-weight: 400;
    }

    .p2-med {
        font-weight: 500;
    }

    .p2-semi {
        font-weight: 600;
    }
}