@layer comp {

    .featured {
        --border-rad: 8px;

        .container {
            overflow: hidden;
        }

        padding-bottom: 70px;

        .featured__card-wrapper {
            width: 100%;
        }

        .featured__card {
            position: relative;
            border-radius: var(--border-rad);
            color: var(--color-neutral-400);
            box-shadow: 0 4px 10px 0 var(--color-primary-400);
            width: 100%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .featured__card:first-child {
            .featured__pag {
                justify-content: flex-end;
            }
        }

        .featured__card:last-child {
            .featured__pag {
                justify-content: flex-start;
            }
        }


        .featured__img {
            padding: 0;
            margin: 0;

            img {
                width: 100%;
                aspect-ratio: 16/10;
                border-radius: var(--border-rad) var(--border-rad) 0 0;
            }
        }

        .featured__number {
            color: var(--color-primary-300);

            span {
                color: var(--color-primary-600);
            }

        }

        .featured__card-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;
            position: relative;
        }

        .feature__desk {
            span {

                color: var(--color-neutral-500);
                font-weight: bold;
            }
        }

        .featured__pag {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: var(--color-primary-300);
        }

        .featured__card-wrapper {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            padding-bottom: 20px;
            transform: translateX(0px);
            transition: .3s;
        }

        .featured__card-left-arrow,
        .featured__card-right-arrow {
            margin: 0;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 25px;

            }
        }
    }

    @media (orientation: landscape) and (height < 800px) {
        .featured__img {
            display: none;
        }
    }
}