.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--banner-height);
}
.banner__title{
  font-size: var(--f-size-h1);
  font-weight: var(--f-weight-bold);
  color: #2C3E50;
  padding: var(--space-48) var(--space-32);
}
.banner__subtitle{
  max-width: 600px;
  font-size: var(--f-size-h3);
}