.header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  background-color: var(--c-primary);
  height: var(--header-height);
  z-index: 999;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  font-size: var(--f-size-h2);
  font-weight: var(--f-weight-bold);
  color: rgba(255, 255, 255, 1);
}
#search__book {
  width: 400px;
  height: 40px;
  border-radius: var(--radius-medium);
  padding-left: var(--space-12);
  border: 0;
  &:hover {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
}

.header__other {
  display: flex;
  gap: var(--space-16);
}

.header__favorite,
.header__vallet {
  width: 29px;
  height: 29px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    cursor: pointer;
  }
}